@model IEnumerable<Webbamoscoffe.Models.Drink>

@foreach (var item in Model)
{
    <div class="product-item @item.Category.slug">
        <div class="product discount product_filter">
            <a href="@Url.Action("Detail", "ProductMain", new { id = item.id })" class="product_image">
                <img src="@item.image" alt="@item.name">
            </a>
            <div class="favorite favorite_left"></div>
            <div class="product_info">
                <h6 class="product_name">
                    <a href="@Url.Action("Detail", "ProductMain", new { id = item.id })">@item.name</a>
                </h6>
                @if (item.price - item.sell_price > 0)
                {
                    <div class="product_price">@item.sell_price.ToString("#,##0")<span>@item.price.ToString("#,##0")</span></div>
                }
                else
                {
                    <div class="product_price">@item.price.ToString("#,##0")</div>
                }
            </div>
        </div>
        <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.id">Thêm vào giỏ hàng</a></div>
    </div>
}
